nav {
  position: fixed;
  top: 0;
}

.link-item {
  text-decoration: none;
  color: black;
  display: flex;
}

ul {
  list-style-type: none;
  margin-left: -20px;
}

li {
  display: flex;
  align-items: center;
}

.symbolStyle {
  width: 20px;
  height: 20px;
  margin: 20px;
  margin-left: -5px;
  cursor: pointer;
}

.symbolStyle-control {
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  margin-left: 6px;
  /* margin-top: -130px; */
}
li h3 {
  width: 20px;
  height: 20px;
  padding-top: -1px;
  font-weight: 350;
  font-size: 16px;
  cursor: pointer;
}

.sizeIncrease {
  width: 200px;
}

.decresaeSize {
  width: 100px;
}

.icons-img-ul-increase {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

.icons-img-ul-decrease {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: -30px;
}

.icon-imgs {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  margin: 2px;
  cursor: pointer;
}

.sidenavbar-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item:hover {
  background-color: #ebebeb;
  width: 140px;
  height: 40px;
  border-radius: 7px;
  padding-left: 10px;
}

.list-item:hover .symbolStyle {
  color: #ff0000;
}

.symbolStyle-control:hover {
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  padding: 8px;
  border-radius: 50px;
  padding-left: 10px;
}

@media only screen and (min-width: 576px) {
  .symbolStyle {
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-left: -10px;
  }

  .symbolStyle-control {
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
  }
  .icon-imgs {
    width: 18px; /* Adjust as needed */
    height: 18px; /* Adjust as needed */
    margin: 2px;
  }
  .list-item:hover {
    width: 120px;
    height: 30px;
  }
}

.mainNavbar {
  display: block; /* Hide the main navbar on small screens */
}

.secondNavbar {
  display: none; /* Show the second navbar on small screens */
}

@media (max-width: 575px) {
  .mainNavbar {
    display: none; /* Hide the main navbar on small screens */
  }

  .secondNavbar {
    display: block; /* Show the second navbar on small screens */
  }

  .link-item {
    text-decoration: none;
    color: black;
    display: flex;
  }

  ul {
    list-style-type: none;
    margin-left: -20px;
  }

  .list-item:hover {
    background-color: #ebebeb;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-left: 13px;
  }
  .list-item-small {
    margin-top: 60px;
  }
}
