.no-data {
  margin-left: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

@media only screen and (max-width: 576px) {
  .no-data {
    width: 200px;
    height: 170px;
    margin-right: 28%;
    margin-top: 10%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 576px) {
  .no-data {
    width: 250px;
    height: 200px;
    margin-right: 28%;
    margin-top: 10%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 768px) {
  /* Added 'px' */
  .no-data {
    width: 350px;
    height: 300px;
    margin-right: 28%;
    margin-top: 10%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 992) {
  /* Added 'px' */
  .no-data {
    width: 400px;
    height: 350px;
    margin-right: -5%;
    margin-top: 20%;
    margin-left: 35%;
  }
}
