/* Add these styles to your index.css file */

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0; /* Adjust the value based on the image width */
  }
}

.login-form-container {
  background: #000;
  position: relative;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/ddsbr0cfw/image/upload/v1714542345/movie-bg-img_1_1_fcpz7h.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: scrollBackground 20s linear infinite;
}

.login-form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/ddsbr0cfw/image/upload/v1714542345/movie-bg-img_1_1_fcpz7h.png');
  background-position: center;
  opacity: 0.5;
  animation: scrollBackground 20s linear infinite;
}

.logo {
  z-index: 1;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  width: 250%;
  margin: 20px;
  height: auto;
  filter: brightness(200%);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.from-heading {
  margin-top: -7px;
}

.form-container h2 {
  color: #fff;
  font-size: 2rem;
}

.form-container {
  color: #b3b3b3;
  margin: 10px 0 65px;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 430px;
  padding: 50px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 0px rgba(15, 14, 14, 0.5);
}

.password-input-field,
.username-input-field {
  height: 100%;
  width: 100%;
  background: #333;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 5px;
}

.password-input-field,
.username-input-field {
  height: 50px;
}

.login-button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  background: #e50914;
  margin: 25px 0 10px;
  transition: 0.1 ease;
}

.login-button:hover {
  background: #e50914;
}

.from-help {
  display: flex;
  justify-content: space-between;
}

.from-help a {
  color: #b3b3b3;
  text-decoration: none;
}

.learn-more-link {
  color: #0071eb;
  text-decoration: none;
}

.learn-more-link:hover {
  text-decoration: underline;
}

.form-container p {
  color: #b3b3b3;
}

.remember-me input {
  margin: 3px;
}

.form-container .error-message {
  color: red;
}

.rigistredToggle {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.rigistredToggle:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  .form-container h2 {
    color: #fff;
    font-size: 25px;
  }

  .form-container {
    width: 270px;
    padding: 15px;
  }

  .password-input-field,
  .username-input-field {
    height: 30px;
    font-size: 15px;
  }

  .login-button {
    padding: 8px 0;
    margin: 5px 0 5px;
    font-size: 10px;
  }
  .input-label {
    font-size: 10px;
  }

  .logo img {
    width: 0%;
  }
}
